.popup__container {
  max-width: 428px;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 10px;
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
}


@media screen  and (max-width: 767px) {
  .popup__container {
  max-width: 280px;
  }
}