.popup__name {
  max-width: 358px;
  border: none;
  border-bottom: 1px solid rgb(211, 205, 205);
  padding-bottom: 9px;
  margin: 0;
  margin-bottom: 28px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

@media screen  and (max-width: 767px) {
  .popup__name {
    max-width: 238px;
  }
}