.element__heart {
  display: inline-block;
  width: 22px;
  height: 19px;
  float: right;
  margin-top: 30px;
  margin-right: 20px;
  transition: opacity easy-in-out 0.3s;
  cursor: pointer;
}

.element__heart:hover {
  opacity: 0.7;
}

.element__heart:active {
  opacity: 1;
}