.profile__info {
  margin: 0;
  padding-top: 21px;
  padding-left: 20px;
  margin-right: 8px;
}

@media screen  and (max-width: 767px) {
  .profile__info {
    display: block;
    max-width: 189px;
    padding-top: 26px;
    padding-left: 47px;
    margin-right: 0;
  }
}